DOMAIN=tomandjerry.mourou.dev
NEXTCLOUD_VERSION=apache
MARIADB_VERSION=lts
REDIS_VERSION=alpine
PUID=1000
PGID=1000
# Find it with: docker network inspect webgateway --format '{{(index .IPAM.Config 0).Subnet}}'
TRUSTED_PROXIES=CHANGE_ME_WEBGATEWAY_SUBNET
MYSQL_ROOT_PASSWORD=CHANGE_ME
MYSQL_PASSWORD=CHANGE_ME
